.slider.owl-carousel.owl-theme
    .slider__item
        .slider__background(style={background: 'url("img/background_header.png") no-repeat top/cover'})
    .slider__item
        .slider__background(style={background: 'url("img/background_header2.png") no-repeat top/cover'})
    .slider__item
        .slider__background(style={background: 'url("img/background_header.png") no-repeat top/cover'})
