footer.footer
    .footer__wrapper.wrapper
        .footer__columns
            .footer__leftColumn
                .footer__title Location
                .footer__address 1209 Harbor Island Walk, Baltimore, Maryland 21230 United States
                .footer__number (443) 708-0872
            .footer__centerColumn
                .footer__column
                    a.footer__item(href="#") Programs
                    a.footer__item(href="#") Sergeons
                    a.footer__item(href="#") Teaching & Education
                .footer__column
                    a.footer__item(href="#") Overview
                    a.footer__item(href="#") Leadership
                    a.footer__item(href="#") Stories
                .footer__column
                    a.footer__item(href="#") Contact Us
                    a.footer__item(href="#") Terms of Use
                    a.footer__item(href="#") Privacy Policy
            button.footer__button Donate
        .footer__bottom
            .footer__creator 
                span © 2018 Steps2Walk   
                span.footer__line |    
                span Designed by Comrade Web Agency
            .footer__social-links
                a.footer__social-link.footer__social-link_facebook(href="#")
                a.footer__social-link.footer__social-link_twitter(href="#")
                a.footer__social-link.footer__social-link_instagram(href="#")
