.wrapper.wrapper_paddingTop
    .map__header
        .map__title Our Programs
        button.header__button.header__button_transparent.map__button All programs 
    .wrapper__map
        //.map__mask
        #map
    .map__footer
        .map__footerColumn
            .map__footerTitle
                span.map__titleText Helping Children in
                span.map__city Cairo
            .map__footerInfo
                .map__greenField Future Program
                .map__date 6-8 august 2018
                .map__country EGYPT
        .map__footerColumn.map__footerColumn_otherWidth
            .map__text The upcoming（14th—20th,April 2019） foot and ankle program will co-hos
            button.header__button.map__buttonFooter Read More
