noscript
    p Please enable Javascript
 
header.header
    .header__wrapper.wrapper
        nav.header__nav
            .header__phone-ver
                .header__burger
                    button.nav-toggle
                        span.bar-top
                        span.bar-mid
                        span.bar-bot
                .header__containerLogo
                    a.header__logo.header__logo_phone(href="#")
            .header__column
                a.header__link(href="#") About Us
                a.header__link(href="#") Surgeous & Programs
            a.header__logo(href="#")
            .header__column
                a.header__link(href="#") Stories
                a.header__link(href="#") Contact
                button.header__link.header__link_button Donate
        .header__title
        .header__text Taking care of individuals limited by crippling deformity in our international communities is not only a privilege but our obligation.
        .header__button-list
            button.header__button Donates
            button.header__button.header__button_transparent Explore
        .header__flex-right
            .header__social-links
                a.header__social-link.header__social-link_facebook(href="#")
                a.header__social-link.header__social-link_twitter(href="#")
                a.header__social-link.header__social-link_instagram(href="#")
include ../slider/slider.jade   
